{% extends "userRatings/base.html" %}

{% block title %} Ground Truth {% endblock %}

{% block content %}
<h1> Homepage </h1>
<p>Welcome to the questionnaire for providing active learning to the Online Petitions Recommender System model. Your input will be valuable to improve the learning of the Online Petitions Recommender System Model with Social
    Network and Psycholinguistic Features. The online petitioning community needs your help!</p>
<h2>Please note that below are some information about your participation in the questionnaire:</h2>

<ul>
  <li>You should be an active user on Twitter with at least 100 tweets.</li>
  <li>Please read more on the terms and conditions about for being a part of the questionnaire in the <a href="https://goo.gl/BkqKAh">user consent.</a></li>
</ul>
    <form action="." method="post">
        {% csrf_token %}
        <input type="submit" value="Sign in with Twitter">
    </form>

{% endblock %}

