{% extends "userRatings/base.html" %}

{% block title %} Ground Truth {% endblock %}

{% block content %}
<h1> Homepage </h1>
<p>Welcome to the questionnaire for providing active learning to the Online Petitions Recommender System. Your input will be valuable to improve the learning of the System. Scholars need your help!</p>
<h2>Please note that below are some information about your participation in the questionnaire:</h2>

<ul>
  <li>You should be an active user on Twitter with at least 500 tweets.</li>
  <li>You should have Twitter account set so that your tweets unprotected and public.</li>
  <li>Please rate the petitions in the questionnaire according to your interest.</li>
  <li>In the questionnare participants would need to pay attention for 5-10 minutes to submit the relevancy of petitions to their interests.</li>
  <li>For more about the terms and conditions of participation and being part of the questionnaire click on this <a href="https://goo.gl/ieppPc" target="_blank">link</a> to read the user consent.</li>
</ul>
    <form action="." method="post">
        {% csrf_token %}
        <input type="submit" value="Sign in with Twitter">
    </form>

{% endblock %}

